<a href="https://colab.research.google.com/github/Athulya2528/Athulya2528/blob/main/Untitled19.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
a=10
b=10
print(a%b)

0

In [6]:
name= input("enter your name: ")
age=int(input("enter your age: "))
print(name,age)

enter your name: ammu
enter your age: 22
ammu 22

In [7]:
for i in range(5):
    print(i)

0
1
2
3
4

In [5]:
name = input("Enter your name: ")
print("Hello", name)

Enter your name: athu
Hello athu

In [15]:
x = 2
while x <= 10:
     print(x)
     x = x + 1

1
2
3
4
5
6
7
8
9
10
1
2
3
4
5
6
7
8
9
10

In [11]:
x = 1
while x <= 5:
    print(x)
    x = x + 1

1
2
3
4
5

In [5]:
fruits = ["apple", "banana", "cherry"]
print(fruits[0])

apple

In [7]:
fruits = ["apple", "banana", "cherry"]
fruits.append("mango")
print(fruits)

['apple', 'banana', 'cherry', 'mango']

In [9]:
fruits = ["apple", "banana", "cherry"]
fruits.remove("banana")
print(fruits)

['apple', 'cherry']

In [10]:
def add(a, b):
    return a + b

print(add(3, 4))

7